.ezlinavis-component {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ezlinavis-component .navbar {
  margin-bottom: 0;
}
.ezlinavis-columns {
  border-top: 1px solid #808080;
  display: flex;
  align-items: stretch;
  flex: 1;
}
.listinput-component {
  flex: 1;
  position: relative;
}
.listinput-component > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 8px solid #f66;
}
.listinput-component > div.valid {
  border-left-color: #90ee90;
}
.listinput-component textarea {
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.csv-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #808080;
  padding: 10px;
  position: relative;
}
.csv-component > div {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
}
.csv-component pre {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
}
.graph {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #808080;
  padding: 5px;
}
